.layout-foto {
    width: 100% !important;
    height: 80% !important;
}

.layout-body {
    background-color: #EBEBEB;
    min-height: 50vh !important;
}

.title-layout {
    color: #DC1B32;
    margin-top: 45px;
    font-weight: bold;
}

.title-layout1 {
    color: #101010;
    font-size: 30px;
    font-weight: bold;
}

.desk-layout {
   font-size: 12px;
}

.layout3 {
   background-color: #DC1B32 !important;
   color: #fff !important;
}

.pochta {
    width: 20% !important;
}